#create-a-task{
    float:right;
    width: 140px;
    height: 40px;
    padding: 0px;
    border-radius: 15px;
    font-size: 8px;
    font-family: Roboto;
    background: #1DB954;
    box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.2);
    font-size: 1rem;

}

#status-col{
    width: 200px;
    margin-left: 100px;
}

.priority-value{
    margin-top: 12px;
    width:120px;
    border-radius: 10px;
    background-color: white;
    border: none;
}

