
body {color: #334C60;}
h1   {color: blue;}
p    {color: red;}
.status_low{
    position: static;
    width: 82px;
    height: 22px;
    left: 0px;
    top: 0px;
    text-align: center;
}
h6 {
    color:#1DB954;
}
#urgent {
    background: #FFADAD;
}
#low{
    background: #BBFFBB;
}
#meduim {
    background: #A4D5FF;
}
#high{
    background: #FFFF97;
}
.green {
    background-color:#1DB954;
}
.btn-color {
    background-color:#1DB954;
    color: white;
}
.btn-save-draft{
    background-color:#AEAEAE;;
    color: white;
}
.dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 200px;
}

.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 40%;
    top: 50px;
    font-size: 16px;
}

.inquiry-form {
    padding: 50px;
    border-radius: 20px;
}

.inquiry-submit-btn {
    float:right;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 16px;
}

.newtask-form {
    padding: 50px;
    border-radius: 20px;
    width: 55rem;
}

.newtask-submit-btn {
    float:right;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 16px;
}

.form-select {
    font-size: 14px;
    border: none;
    height: 150px;
    outline: none;
}

.project-status {
    border-radius: 10px;
}

.form-select option {
    margin-top: 10px;
    padding: 2px;
}
.btn-circle-btn-sm {
    width: 20px;
    height: 20px;
    padding: 0px;
    border-radius: 15px;
    font-size: 8px;
}